@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'HankenGrotesk', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Define the Bold weight */
@font-face {
  font-family: 'HankenGrotesk';
  src: url('./fonts/HankenGrotesk-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* Define the ExtraBold weight */
@font-face {
  font-family: 'HankenGrotesk';
  src: url('./fonts/HankenGrotesk-ExtraBold.ttf') format('truetype');
  font-weight: 800; /* Typically ExtraBold is represented as 800 */
  font-style: normal;
}

/* Define the Medium weight */
@font-face {
  font-family: 'HankenGrotesk';
  src: url('./fonts/HankenGrotesk-Medium.ttf') format('truetype');
  font-weight: 500; /* Typically Medium is represented as 500 */
  font-style: normal;
}